<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ss.SSS} %-5level %logger{0} %msg%n</pattern>
    </encoder>
    <target>System.out</target>
  </appender>
  
  <logger name="org.eclipse.jetty" level="ERROR" />

  <root level="DEBUG">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>